.submit{
    float: right;
    margin-top: 1.0rem;
}

.form-row {
    margin-bottom: 0.5rem;
}

.btn-wrapper {
    display: flex;
    align-items: center;
}

.btn-wrapper button {
    margin-top: 1.7rem;
}

.block-label {
    display: block;
}
