div {
    /* border: 1px solid black; */
}
.wrapper {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 5% 25% 60% 10%; 
}

.side-nav {
    width: 100%;
    height: 100%;
    background-color: #222B35;
}

.sub-section {
    width: 100%;
    height: 100%;
    background-color: #2C3644;
}

.main-section {
    width: 100%;
    height: 100%;
    background-color: darkcyan
}

.helper-section {
    width: 100%;
    height: 100%;
    background-color: salmon
}


.side-nav-item {
    padding: 0.5rem;
    text-align: center;
    font-size: 2.0rem;
    color: #F783AC;
    cursor: pointer;
}

.side-nav-item p {
    color: white;
    font-size: 0.8rem;
}

.item-selected {
    border-left: 2px solid rgb(219, 0, 77)
}

.side-nav-item:hover{
    border-left: 2px solid rgb(219, 0, 77);
    background-color: #2C3644;
}

.options {
    width: 100%;
    background: white;
}

.option-item {
    width: 100%;
    background: white;
    height: 5vh;
}

.option-item button {
    text-align: center;
    border: none;
    width: 100%;
    height: 100%;
}


.create-button-wrapper {
    width: 100%;
    padding: 1.0rem;
    text-align: center;
}

.create-button-wrapper button {
    text-align: center;
    border: none;
    border-radius: 5px;
    background-color: #008ddd;
    color: white;
    height: 2.0rem;
}