<div class="wrapper">
  <div class="side-nav">
    <div class="side-nav-item" *ngFor="let item of sideNavItems">
      <i class="fas fa-address-book"></i>
      <p>{{item.name}}</p>
    </div>
  </div>
  <div class="sub-section">
    <div class="create-button-wrapper">
      <button (click)="openForm('swm')">Solid Waste Management</button>
    </div>
    <!-- <div class="create-button-wrapper">
      <button>Create <i class="fas fa-caret-down"></i></button>
    </div> -->
    <!-- <div class="options">
      <div class="option-item" *ngFor="let option of createOptions">
        <button>{{ option.name }}</button>
      </div>
    </div> -->
  </div>
  <div class="main-section">
    <app-solid-waste-form *ngIf="currentForm === 'swm'"></app-solid-waste-form>
  </div>
  <div class="helper-section"></div>
</div>